html {
    background: tan;
}


h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px
}

#heading {
    text-align: center;
    background: #4B6F44; /*sienna;*/
}
#topics {
    border-style: solid;
    border-width: medium;
    box-sizing: border-box;
    width: 15%;
    float: left;
    font-size: 20px;
    position: relative;
    left:80px;
    top: 70px;
}
#title {
    text-align: center;
    columns: 10px 1;
    list-style-position: inside;
    float: right;
    position: relative;
    left: 120px;
    font-size: 17px;
}


#column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    flex: 50%;
    text-align: center;
}

#row {
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    width: 25%;
}

.right {
    width: 100%;
    
}

.logo {
    width: 4px;
    height: 20px;
}

/* Responsive layout - when the screen is less than 600px wide, 
make the two columns stack on top of each other instead of next to 
each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }